<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= stylesheet_link_tag    "application", 'http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,700' %>
    <%= stylesheet_link_tag    "application", 'http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic' %>
    <%= javascript_include_tag :application %>
    <title>Review Blaster 9000</title>
    <script>I18n.locale = '<%=I18n.locale%>';</script>
  </head>
  <!-- If you're reading this, you're probably looking for the Easter Egg. Try running Rbnk.PinballGame() in the console... -->
  <body>
<!-- Start preload images -->
<img src="/img/0_prct_active.png" style=display:none;>
<img src="/img/25_prct_active.png" style=display:none;>
<img src="/img/50_prct_active.png" style=display:none;>
<img src="/img/75_prct_active.png" style=display:none;>
<img src="/img/100_prct_active.png" style=display:none;>
<i class="fa fa-spinner fa-spin" style="display:none;"></i>
<!-- End preload images -->

<!-- Start Ember.js -->
      <%= yield %>
<!-- End Ember.js -->

  </body>
</html>
