{{!-- quick and filthy hack for preloading images --}}
<img src="/img/0_prct_active.png" style=display:none;>
<img src="/img/25_prct_active.png" style=display:none;>
<img src="/img/50_prct_active.png" style=display:none;>
<img src="/img/75_prct_active.png" style=display:none;>
<img src="/img/100_prct_active.png" style=display:none;>
{{!-- main page source --}}
<div class="list-group">
{{#each question in controller}}
  <div class="list-group-item">
    <h4 class="list-group-item-heading">{{question.name}}</h4>
    <div class="list-group-item-text">
      <div class="prct-circles">
        {{!-- buttons go here! --}}
        {{#if question.unrated}}
          <img {{action 'setRating0'}} class="prct-circle" src="/img/0_prct_grey.png" />
        {{else}}
          <img {{action 'setRating0'}} class="prct-circle" src="/img/0_prct_active.png" />
        {{/if}}

        {{#if question.ratingBelow25}}
          <img {{action 'setRating25'}} class="prct-circle" src="/img/25_prct_grey.png" />
        {{else}}
          <img {{action 'setRating25'}} class="prct-circle" src="/img/25_prct_active.png" />
        {{/if}}

        {{#if question.ratingBelow50}}
          <img {{action 'setRating50'}} class="prct-circle" src="/img/50_prct_grey.png" />
        {{else}}
          <img {{action 'setRating50'}} class="prct-circle" src="/img/50_prct_active.png" />
        {{/if}}

        {{#if question.ratingBelow75}}
          <img {{action 'setRating75'}} class="prct-circle" src="/img/75_prct_grey.png" />
        {{else}}
          <img {{action 'setRating75'}} class="prct-circle" src="/img/75_prct_active.png" />
        {{/if}}

        {{#if question.ratingBelow100}}
          <img {{action 'setRating100'}} class="prct-circle" src="/img/100_prct_grey.png" />
        {{else}}
          <img {{action 'setRating100'}} class="prct-circle" src="/img/100_prct_active.png" />
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="list-group-item">
    <h4 class="list-group-item-heading">No questions!</h4>
  </div>
{{/each}}
</div>
<div class="submit-container">
  {{#if controller.content}}
    <button {{action 'submit'}} type="button" class="btn btn-primary btn-lg btn-block">
      {{#if controller.isSubmitting}}
        <i class="fa fa-spinner fa-spin"></i>
      {{else}}
        NEXT
      {{/if}}
    </button>
  {{/if}}
</div>
